<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}Newzz{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('category', category='lifestyle') }}">Lifestyle</a></li>
            <li><a href="{{ url_for('category', category='health') }}">Health</a></li>
            <li><a href="{{ url_for('category', category='weather') }}">Weather</a></li> 
            <li><a href="{{ url_for('category', category='sports') }}">Sports</a></li> 
            <li><a href="{{ url_for('category', category='entertainment') }}">Entertainment</a></li> 
            <li><a href="{{ url_for('category', category='travel') }}">Travel</a></li> 
            <li><a href="{{ url_for('category', category='finance') }}">Finance</a></li> 
            <li><a href="{{ url_for('category', category='foodanddrink') }}">Food & Drink</a></li> 
            <li><a href="{{ url_for('category', category='movies') }}">Movies</a></li> 
            <li><a href="{{ url_for('category', category='music') }}">Music</a></li> 
        </ul>
        <div class="login-button">
            {% if session.get('user_logged_in') %}
                <a href="{{ url_for('personalized', username=current_user) }}" class="user-button">{{ current_user }}</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </nav>

    <!-- Flash Messages Section -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Main Content Section -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
